:root {
  line-height: 1.5;
  color-scheme: light dark;

  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --light-color: #242323;
  --light-bg: #ffffff;

  --dark-bg-block: #4f674f;
  --light-bg-block: #ece7e7;

  --dark-bg: #1f261a;
  --dark-color: #ffffff;

  --cta-primary: #4caf50;
  --cta-secondary: #45a049;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  font-style: normal;
  padding: 1.5em;
  padding-top: 3em;
  color: var(--light-color);
  background-color: var(--light-bg);
}

body.dark-theme {
  color: var(--dark-color);
  background-color: var(--dark-bg);
}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-content {
  flex: 1;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
  margin-top: 0.7em;
}
h2 {
  font-size: 1.5rem;
}

h2,
h3,
h4,
h5 {
  line-height: 1.1;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

header {
  padding: 0.5em 0.7em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--dark-bg-block);
  color: var(--dark-color);
  z-index: 100;
}

.header-first {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo {
  padding: 0;
  margin: 0;
  margin-top: 3.7px;
}

.logo a {
  font-family: "Anton", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  font-weight: 800;
  font-style: normal;
  padding: 0 0.5em;
}

.logo a:hover {
  color: inherit;
}

.navbar .about {
  position: relative;
}
.nested-about-links {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s linear, opacity 0.3s linear;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar .nested-about-links li {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 2px solid #ccc;
  text-align: center;
}

.navbar .nested-about-links li a:hover {
  text-decoration: underline;
}

.arrow {
  position: absolute;
  top: 0.9em;
  left: 3.5em;
  cursor: pointer;
  transition: transform 0.2s linear;
  padding: 0 0.2em;
}

.arrow.show-inverse-about {
  transform: rotate(180deg);
}

.navbar {
  list-style: none;
  margin: 0;
  display: none;
  padding-left: 0.3em;
  padding-top: 3em;
  display: none;
}
.navbar.show-nav {
  display: block;
}

.navbar li {
  padding: 0;
  margin: 0;
  border-bottom: 2px solid #ccc;
}

.navbar li:hover {
  background-color: var(--light-bg-block);
}
.dark-theme .navbar li:hover {
  background-color: var(--dark-bg-block);
}

.navbar li a,
.navbar li span {
  padding: 0.5em;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.navbar li a:hover {
  text-decoration: underline;
}

@media (min-width: 991px) {
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    background: none;
    padding-top: 0;
  }

  .navbar li {
    margin: 0 2em;
    border: none;
  }

  .navbar li a,
  .navbar li span {
    padding: 0.3em 0.7em;
    display: inline-block;
    cursor: pointer;
    transition: color 0.3s ease;
  }

  .navbar li a:hover {
    color: #ccc;
    text-decoration: none;
  }

  .navbar li a.active {
    border-bottom: 2px solid #ccc;
  }

  .navbar li a.active:hover {
    text-decoration: none;
  }

  .navbar li:hover {
    background: none;
  }

  .arrow {
    top: 0.7em;
    left: 3.3em;
  }

  .nested-about-links {
    position: absolute;
    width: 40vw;
    top: calc(100% + 0.56em);
    border-radius: 2px;
    background-color: var(--light-bg-block);
    color: var(--light-color);
    /* use 0.2s for faster drop-down */
    transition: background-color 0.2s linear, max-height 0.2s linear,
      opacity 0.2s linear;
  }

  .dark-theme .nested-about-links {
    color: var(--dark-color);
    background-color: var(--dark-bg-block);
  }

  .navbar .nested-about-links li {
    border: none;
    text-align: left;
  }

  .nested-about-links li a {
    padding: 0.6em 0.3em;
  }
  .navbar .nested-about-links li a:hover {
    color: inherit;
  }

  .nested-about-links li a.active {
    background: none;
    text-decoration: none;
  }

  .hamburger {
    display: none;
  }
}
.header-end {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.login a {
  padding: 0 0.5em;
  border-radius: 1rem;
  transition: color 0.3s ease;
}

.login a:hover {
  color: #ccc;
}
.search-lens:hover {
  color: var(--light-bg-block);
}
.modal-close {
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  padding: 0.6em;
  cursor: pointer;
  font-size: 2em;
  height: 1em;
  width: 1em;
  text-indent: 10em;
  overflow: hidden;
  border: 0;
  background-color: transparent;
}
.modal-close::after {
  position: inherit;
  line-height: 0.5;
  top: 0.35em;
  left: 0.3em;
  text-indent: 0;
  content: "\00D7";
  width: 20px;
  height: 20px;
  font-weight: 500;
}

/* home */

.hero-section {
  height: 70vh;
  background-image: url("/Gemini_Generated_farmSunset.jfif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: -1em -1.5em 0;
}

.hero-content {
  text-align: center;
  color: white;
}
.button {
  display: inline-block;
  padding: 0.4em 1em;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}
.button-cta {
  padding: 0.6em 1em;
  background-color: var(--cta-primary);
  color: var(--dark-color);
  transition: background-color 0.3s;
  text-align: center;
}
.button-cta:hover {
  background-color: var(--cta-secondary);
  text-decoration: none;
}

.hero-section + h1 {
  text-align: center;
  margin: 1.3em 0 1em;
}

.hero-content p {
  font-weight: bold;
}

.container {
  margin: 0 auto;
}
.tile-row {
  display: flex;
  justify-content: space-around;
}
.tile-row > * {
  flex: 1;
}

.tile-row > * + * {
  margin-left: 1.5625em;
}

.tile {
  background-color: var(--light-bg-block);
  border-radius: 0.3em;
  padding-top: 0;
  padding: 0.5em;
}

.dark-theme .tile {
  background-color: var(--dark-bg-block);
}

.tile > h4 {
  margin-bottom: 1.5em;
}

@media (max-width: 768px) {
  .tile-row {
    flex-direction: column;
  }
  .tile-row > * + * {
    margin-left: 0;
    margin-top: 1.5em;
  }
}

/* history */

.call-to-action {
  margin-top: 2.4em;
  text-align: center;
}

.breadcrumbs {
  font-size: 0.9em;
  margin: 1em 0;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

/* chart-legend */

.custom-legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 10px;
}

.legend-color-box {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 5px;
}

.legend-label {
  font-size: 12px;
}
@media (max-width: 600px) {
  .custom-legend {
    justify-content: flex-start;
  }

  .legend-item {
    margin-right: 10px;
    margin-bottom: 8px;
  }

  .legend-label {
    font-size: 10px;
  }
}

/* products */

.products-services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}
@media (max-width: 768px) {
  .products-services-grid {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    justify-content: center;
  }
}

.product-item {
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  background-color: var(--light-bg-block);
}

.dark-theme .product-item {
  background-color: var(--dark-bg-block);
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}
.dark-theme .product-item:hover {
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.15);
}

.dark-theme .product-item:active {
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
}
.product-item:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.product-item:active {
  transform: scale(0.98); /* Shrink slightly on click */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Less shadow when active */
}
.product-item img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.product-item:hover img {
  transform: scale(1.05);
}

.description p {
  margin-top: 8px;
}
.products-intro {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 3em;
}

/* services */

.services-section {
  position: relative;
  margin: auto;
}

.service-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-bg-block);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.dark-theme .service-card {
  background-color: var(--dark-bg-block);
}
.service-card img {
  object-fit: cover;
  border-radius: 10px;
}

.service-card h2 {
  margin: 15px 0 10px;
}

.service-card p {
  font-size: 1rem;
  text-align: center;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -100px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.4s ease-in-out;
}
.prev {
  left: 20px;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 20px;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.fade {
  animation: fade 1.5s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.dots-container {
  text-align: center;
  top: 75%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
@media (max-width: 600px) {
  .dot {
    margin: 0 4px;
  }
}

.dot.active,
.dot:hover {
  background-color: #717171;
}

/* footer */
.footer {
  background-color: #1f3d26;
  color: #ccc;
  margin: 3em -1.5em -1.5em;
  padding: 0 2em;
  font-size: 0.9rem;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}

.contact-us {
  width: 40%;
}

.contact-us p {
  padding: 0;
  margin: 0;
  padding-top: 0.7rem;
}
.contact-us p:last-of-type a {
  text-decoration: underline;
  margin-left: 0.4rem;
  transition: color 0.3s ease;
}

.contact-us p:last-of-type a:hover {
  color: #fff;
}

.connect-with-us {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.connect-with-us h3 {
  text-align: center;
  margin-bottom: 1em;
}

.social-media {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.social-media li {
  list-style-type: none;
  margin: 0 1rem;
}

.social-media li a {
  display: inline-block;
  padding: 0.5rem;
  font-size: 2rem;
  transition: color 0.3s;
}

.social-media li a:hover {
  color: #fff;
}
.footer-last-row {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a39d9d;
  padding: 1em 0;
}
.extra-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.extra-links li {
  list-style-type: none;
  margin: 0;
  margin-right: 1rem;
  padding: 0;
}
.extra-links li a {
  border-right: 2px solid #a39d9d;
  display: inline-block;
  padding-right: 0.7rem;
  transition: color 0.3s ease;
}

.extra-links li a:hover {
  text-decoration: underline;
  color: #fff;
}

.footer-last-row span {
  margin-left: 1rem;
  font-size: 0.7rem;
}

@media (max-width: 768px) {
  .footer-content {
    display: block;
  }
  .contact-us {
    width: 100%;
  }
  .contact-us h3 {
    padding-top: 1rem;
  }
  .connect-with-us {
    width: 100%;
    display: block;
  }
  .social-media li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .social-media li a {
    display: inline-block;
    padding: 0.3rem;
    font-size: 1.5rem;
    transition: color 0.3s;
  }
  .connect-with-us h3 {
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0.7rem;
  }
  .social-media {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer-last-row {
    display: block;
  }
  .extra-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  .extra-links li {
    margin-right: 0.6rem;
  }
  .extra-links li a {
    border: none;
    border-left: 2px solid #a39d9d;
    padding-left: 0.3rem;
  }
  .footer-last-row span {
    display: block;
    margin: 0;
    padding-top: 0.5rem;
    font-size: 0.9rem;
    text-align: left;
  }
}

/* error */
.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 2rem;
  border-radius: 8px;
  width: 80%;
  margin: 2rem auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.error h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.error p {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.error p:last-of-type {
  font-weight: bold;
  color: #d9534f;
}

/* agroinsights */

.weather-map-content {
  display: flex;
  flex-direction: column;
}
.weather-details h2 {
  text-align: center;
}
.weather-section {
  flex: 1;
}

.map-section {
  flex: 1;
  margin: 1.5em 0;
}

#location,
#services,
#welcome,
#fun-facts,
#history,
#progress,
#services,
#products,
#sustainable-agriculture,
#blog,
#food-security,
#climate-change,
#priorities {
  scroll-margin-top: 50px;
}

@media (max-width: 600px) {
  .map-section iframe {
    width: 300px;
    height: 200px;
  }
}

@media (min-width: 991px) {
  .weather-map-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .weather-section {
    width: 55%;
  }

  .map-section {
    display: flex;
    justify-content: flex-end;
    width: 40%;
  }
}
/* skeleton */
.skeleton-loader {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skeleton-text {
  background-color: #ccc;
  border-radius: 4px;
  animation: pulse 1.5s infinite ease-in-out;
}

.title {
  width: 50%;
  height: 20px;
}

.line {
  width: 100%;
  height: 15px;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* not-found */
.not-found-container {
  text-align: center;
  margin-top: 50px;
}

.not-found-container p {
  font-size: 1.2em;
}

.home-link {
  color: var(--cta-primary);
  text-decoration: none;
  font-weight: bold;
  padding-left: 0.3em;
}

.home-link:hover {
  text-decoration: underline;
}

/* events */

.events ul {
  list-style-type: none;
  padding: 0;
}

.events li {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.events h2 {
  margin: 0;
}

.events p {
  margin: 5px 0;
}

.message-box {
  padding: 1em;
  margin-top: 1em;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 1rem;
}

.message-success {
  background-color: #e6ffe6;
  color: #2f8a2d;
}
.dark-theme .message-success,
.dark-theme .message-error {
  background-color: var(--dark-bg-block);
}

.message-error {
  background-color: #ffe6e6;
  color: #d9534f;
}

.message-box .icon {
  font-size: 1.5em;
}

/* fun-facts */
.fun-facts ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.fun-facts li {
  margin: 2.5em 0;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
}

.fun-facts li h3 {
  transition: color 0.3s ease;
  margin: 0;
}

.fun-facts ul p {
  margin: 5px 0;
}

.fun-facts li:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
}

.fun-facts li:hover h3 {
  color: #34a853;
}

.do-you-know {
  animation: fadeIn 1s forwards;
  font-size: 1.5rem;
  color: var(--cta-primary);
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.palm-icon {
  transition: transform 0.3s ease;
}

.palm-icon:hover {
  transform: rotate(20deg);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.prev-next-facts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.facts-per-page {
  animation: facts-block 1s ease;
}

@keyframes facts-block {
  from {
    transform: translateX(-20px);
  }
  to {
    transform: translateX(0);
  }
}

/* blog */
.blog-data ul {
  list-style-type: none;
  padding: 0;
}

.blog-data li {
  border-bottom: 1px solid #888;
  padding: 15px 0;
}

.blog-data h2 {
  text-align: center;
  margin-bottom: 10px;
}

.blog-data h4,
.blog-data h5,
.user-blog h4,
.user-blog h5 {
  font-size: 0.8rem;
  margin: 5px 0;
}
.blog-data h5,
.user-blog h5 {
  color: #999;
}

.blog-excerpt {
  margin: 15px 0;
}

.blog-content {
  margin-top: 10px;
}

.blog-content span {
  margin-top: -10px;
  display: block;
}

.add-blog {
  display: flex;
  justify-content: flex-end;
}

.create-blog h1 {
  text-align: center;
}
.create-blog div {
  margin-top: 10px;
}

/* login page,forms */
form {
  display: flex;
  flex-direction: column;
  margin: 1.5em auto;
  width: 40%;
  justify-content: center;
  padding: 0 1em;
}
form label {
  font-weight: bold;
  font-size: 1.2rem;
}
@media (max-width: 600px) {
  form {
    width: 90%;
  }
}
.dark-theme form input,
.dark-theme form textarea {
  background-color: #598251;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3),
    inset 0 -1px 0 rgba(197, 150, 150, 0.1);
  border: 1px solid #4a6b43;
  color: #ffffff;
  padding: 10px;
  border-radius: 4px;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.dark-theme form input:focus,
.dark-theme form textarea:focus {
  background-color: #6b9a63;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.3),
    inset 0 -1px 0 rgba(255, 255, 255, 0.2);
}

form input,
form textarea {
  display: block;
  height: 40px;
  margin-bottom: 1em;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}
form #title {
  height: 60px;
  font-family: inherit;
}

form #blog-content {
  height: 300px;
  font-family: inherit;
}

form input:focus,
form textarea:focus {
  outline: none;
  background-color: #ece7e791;
}

form a:hover {
  text-decoration: underline;
}

form button {
  width: 100%;
  height: 40px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1.5em;
}

form .no-account a,
form .have-account a {
  padding-left: 0.4em;
  font-weight: bold;
}

form input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: var(--cta-primary);
}

.forgot-password {
  padding-left: 0;
  text-align: center;
  margin-top: 2em;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.remember-me label {
  font-size: 0.8rem;
  margin-top: -0.5em;
}
.spinner {
  border: 3px solid;
  border-color: var(--dark-color) var(--dark-color) transparent transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  display: inline-block;
  width: 27px;
  height: 27px;
  margin-top: -5px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.password-container {
  position: relative;
}
.password-eye {
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
}

/* user info */
.user-info {
  width: 100%;
}

.user-info p:nth-child(1) {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.user-info p:nth-child(2) {
  font-size: 1rem;
  margin-bottom: 1em;
  display: flex;
}

.user-info p:last-of-type {
  font-size: 0.9rem;
  margin-bottom: 2em;
}

/* user blog.....some styles present in blog */
.user-blog .title {
  width: 50%;
  height: 20px;
  margin: auto;
}

.user-blog .body {
  height: 100px;
  width: 100%;
}

.user-blog .author,
.user-blog .date {
  width: 20%;
  height: 20px;
}

.user-blog .blog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-blog .blog-header h2 {
  flex-grow: 1;
  text-align: center;
}

.user-blog .blog-header button {
  background-color: transparent;
  border-radius: 50%;
  padding: 10px;
  border: none;
  padding-top: 25px;
}

.user-blog .blog-header button:hover {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
}

/* search */
.search-container {
  margin-top: 15px;
  width: 80%;
  margin: auto;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text-container {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  padding: 10px 5px;
  border: 2px solid var(--light-color);
}

.text-container input {
  box-sizing: border-box;
  border: none;
  height: 20px;
  font-size: 1rem;
  padding-left: 5px;
  flex-grow: 1;
}
.text-container svg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
}
.text-container input:focus {
  outline: none;
}
.search-results {
  width: 100%;
}

.search-results h2 {
  text-align: center;
}

@media (max-width: 768px) {
  .search-container {
    width: 90%;
    margin: auto;
  }
  .text-container input {
    min-width: 100px;
  }
}

.dark-theme .text-container {
  background-color: #598251;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3),
    inset 0 -1px 0 rgba(197, 150, 150, 0.1);
  border: 1px solid #4a6b43;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.dark-theme .text-container input {
  background-color: #598251;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

.dark-theme .text-container input::placeholder {
  color: #ffffff;
}

.dark-theme .text-container input:focus {
  background-color: #6b9a63;
}
.dark-theme .text-container:focus-within {
  background-color: #6b9a63;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.3),
    inset 0 -1px 0 rgba(255, 255, 255, 0.2);
}
